
* {
    background-color: gray;
}

h1{
    justify-content: center;
    text-align: center;
    color: aqua;
}

h3{
    text-align: center;
    justify-content: center;
}

div{
    color: purple;
}

.task{
    padding: 30px;
    margin: 40px;
    background-color: violet;
    opacity: 50%;
    border-radius: 4px;

}